.divListHome {

   min-width: 100%;

   .input1{
    height: 1em;

   }

   .btn1{
    float: right;
    position: relative;
    font-size: x-small;
    color: white;
    background: rgb(194, 194, 51);

   }
}