.divListHome {

   min-width: 100%;



   .input1{
    height: 1.1em;

   }
 
   .btninput{
    position: relative;
    font-size: xx-small;
    bottom: 0.5em;

   }

   .btn1{
    float: right;
    position: relative;
    top: 0.5em;
    font-size: x-small;
    color: white;
    background: rgb(194, 194, 51);

   }

}


#img{
  width: 400px;
  height: 100px;
}


.divList2 {

  display: grid;
  grid-template-columns: 50% 50%;

  div {
   width: auto;
 }

  .imgList{
    float: right;
  }
}

