@import '../index.scss';

.homeLayout{
    display: grid;
    margin: 0 auto;
    width: 80%;

}

.divHeader{
    display: grid;
    margin: 0 auto; 
    border: solid 1px $thirdColor;
    padding: 1em;
    grid-template-columns: 20% 40% 20%;
    height: 8em;
  
}